.footer {
  display: flex;
  background-color: var(--base-100);
  width: 33.75rem;
  padding-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  /* margin: auto; */
  gap: 5rem;
  & .sliding-text {
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    align-items: center;
    width: 100%;
    gap: 2rem;
    background-color: var(--accent);
    & li {
      font-size: 1.125rem;
      line-height: 1.75rem;
      text-transform: uppercase;
    }
  }
  & .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 33.75rem;
  }
  & .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    & h1 {
      color: var(--base-content);
      font-family: Inter;
      font-size: 1.875rem;
      font-weight: 600;
      line-height: 2.25rem;
    }
    & button {
      display: flex;
      padding: 0.25rem 0.25rem 0.25rem 1.25rem;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      font-family: Inter;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 3.5rem;
      background-color: var(--accent);
      border: none;
      cursor: pointer;
      & .icon-btn {
        display: flex;
        padding: 0.625rem;
        align-items: center;
        gap: 0.625rem;
        border-radius: 2.5rem;
        background-color: var(--base-content);
        & i {
          width: 1.25rem;
          height: 1.25rem;
          color: var(--accent);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  & .line {
    width: 33.75rem;
    height: 0.0625rem;
    opacity: 0.1;
    background: #131313;
  }
  & .container-card {
    display: flex;
    width: 29.75rem;
    gap: 7.375rem;
  }
  & .social-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    & img {
      width: 2.5rem;
      height: 2.5rem;
    }
    & p {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  & .socialmedia {
    display: flex;
    width: 10rem;
    gap: 1.25rem;
    padding: 0.75rem 1rem;
    background-color: rgba(19, 19, 19, 0.05);
    border-radius: 0.5rem;
    & a:not(:nth-child(2)) {
      color: var(--base-content);
      opacity: 0.5;
    }
    & i {
      width: 1rem;
      height: 1rem;
    }
  }
  .navlink {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .container-card01 {
    display: flex;
    width: 29.75rem;
    gap: 9.38rem;
  }

  .card-footer {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    & a {
      color: var(--base-content);
      opacity: 0.7;
    }
    & a:hover {
      text-decoration: underline;
    }
  }

  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .footer-line {
    width: 3rem;
    height: 0.0625rem;
    opacity: 0.1;
    background: #131313;
  }

  .address-info {
    line-height: 1.5rem;
  }

  .copyright-container {
    display: flex;
    width: 29.75rem;
    gap: 2.75rem;
    & p {
      font-size: 0.75rem;
    }
    & a {
      opacity: 0.7;
      font-size: 0.75rem;
      color: var(--base-content);
    }
    & a:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 704px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 44rem;
    & .sliding-text {
      padding: 1.5rem 2rem;
      gap: 3rem;
    }
    & .line {
      width: 40rem;
    }
    & .copyright-container {
      width: 40rem;
      display: flex;
      justify-content: space-evenly;
    }
    & button:hover {
      background-color: var(--accent-focus);
    }
  }
}

@media screen and (min-width: 960px) {
  .footer {
    width: 60rem;
  }
  .footer-content {
    gap: 2.5rem;
  }
  .footer-top {
    gap: 1.25rem;
  }
  .container-card {
    gap: 8.4375rem;
  }
  .container-card01 {
    gap: 7.4375rem;
  }
}
