header {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 0.75rem 1.5rem;
  padding-top: 2rem;
}
.nav-container {
  background-color: var(--base-100);
  border-radius: 5rem;
  border: 1px solid #1313130d;
  width: 29.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
.img-logo {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.75rem 1.5rem;
}
.right-menu-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.color-fill-btn {
  border-radius: 3.125rem;
  background-color: var(--base-100);
  padding: 0.5rem;
  border: none;
}
#checkbox {
  display: none;
}

.burger-icon i {
  font-family: FontAwesome;
  color: var(--base-content);
  font-size: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}
