.nav-menu {
  background-color: var(--base-200);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-5%);
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.close-btn {
  font-size: 2rem;
  position: absolute;
  z-index: 2;
  left: 16rem;
  top: 1.25rem;
}
#checkclose-btn {
  display: none;
}
.close-btn i {
  color: var(--accent);
  cursor: pointer;
  transition: "color 0.2s";
}
.close-btn i:hover {
  color: var(--accent-focus);
}
.navlink-container {
  margin: 2rem auto;
  background-color: var(--base-100);
  border: 3px solid #1313130d;
  border-radius: 4.9rem;
  width: 50%;
  height: 3.4rem;
  transition: "background-color 0.2s, color 0.2s";
  &:hover {
    background-color: #1313130d;
  }
}
.navlink-container:hover .nav-link i {
  color: var(--accent-focus);
}

.navlink-container:hover .nav-link p {
  color: var(--secondary-focus);
}

.nav-link {
  text-decoration: none;
  color: var(--base-content);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.8rem 1.87rem;
}

.nav-link i {
  font-family: FontAwesome;
  color: var(--accent);
  font-size: 1.38rem;
  transition: background-color 0.2s, color 0.2s;
}

.nav-link p {
  font-size: 1.12rem;
  font-weight: 600;
  width: 45%;
  color: var(--secondary);
}
