.nav-menu {
  background-color: var(--base-200);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* transform: translateX(-5%); */
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.close-btn {
  font-size: 2rem;
  position: absolute;
  z-index: 2;
  left: 16rem;
  top: 1.25rem;
}
#checkclose-btn {
  display: none;
}
.close-btn i {
  color: var(--accent);
  cursor: pointer;
  transition: "color 0.2s";
}
.close-btn i:hover {
  color: var(--accent-focus);
}
.navlink-container {
  margin: 2rem auto;
  background-color: var(--base-100);
  border: 3px solid #1313130d;
  border-radius: 4.9rem;
  width: 50%;
  height: 3.4rem;
  &:hover {
    background-color: #1313130d;
  }
}
.navlink-container:hover .nav-link i {
  color: var(--accent-focus);
}

.navlink-container:hover .nav-link p {
  color: var(--secondary-focus);
}

.nav-link {
  text-decoration: none;
  color: var(--base-content);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.8rem 1.87rem;
  & i {
    font-family: FontAwesome;
    color: var(--accent);
    font-size: 1.38rem;
  }
  & p {
    font-size: 1.12rem;
    font-weight: 600;
    width: 45%;
    color: var(--secondary);
  }
}

@media screen and (min-width: 704px) {
  .close-btn {
    font-size: 2.5rem;
    left: 21rem;
    top: 2.5rem;
  }
  .navlink-container {
    height: 4rem;
    width: 40%;
    display: grid;
    place-items: center;
  }
  .nav-link {
    width: 100%;
    gap: 1.5rem;
    text-align: left;
  }
}

@media screen and (min-width: 960px) {
  .nav-menu {
    width: 48.5%;
    background-color: var(--base-100);
  }
  .navlink-container {
    width: 50%;
    background-color: var(--base-200);
    &:hover {
      background-color: #0909091d;
    }
  }
}
