.Contact {
  background-color: var(--base-100);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  & .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    & h1 {
      line-height: 2;
    }
    & p {
      text-align: center;
      font-size: 0.875rem;
      line-height: 1.25;
      opacity: 0.6;
      width: 90%;
    }
  }

  & .contact-wrapper {
    & form {
      display: flex;
      flex-direction: column;
      padding: 0.75rem;
      gap: 0.625rem;
      & h2 {
        font-weight: 500;
        line-height: 2;
      }
      & .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        & label {
          opacity: 0.8;
          font-size: 0.875rem;
          line-height: 1.25;
        }
      }
      #name,
      #email,
      #message {
        background-color: var(--base-200);
        border-radius: 0.5rem;
        border: none;
        outline: none;
      }
      #name,
      #email {
        height: 3rem;
        text-indent: 0.625rem;
      }

      #message {
        text-indent: 0.625rem;
      }
      & .submit-btn {
        & button {
          display: flex;
          padding: 0.25rem 0.25rem 0.25rem 1.25rem;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          color: var(--base-content);
          text-decoration: none;
          font-size: 1.1rem;
          font-weight: 500;
          line-height: 1.5;
          border-radius: 3.5rem;
          background-color: var(--accent);
          cursor: pointer;
          border: none;
          font-family: "Inter", sans-serif;
          & .icon-btn {
            display: flex;
            padding: 0.625rem;
            align-items: center;
            gap: 0.625rem;
            border-radius: 2.5rem;
            background-color: var(--base-content);
            & i {
              color: var(--accent);
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
}

& .answer {
  font-size: 2rem;
  font-weight: 500;
  text-align: end;
  padding: 2.5rem;
  & i {
    color: var(--accent);
    margin-right: 1rem;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .Contact {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .Contact {
    width: 80%;
    & .info-container {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.125rem;
        line-height: 1.75;
      }
    }
    & .contact-wrapper {
      display: flex;
      justify-content: space-around;
      & form {
        width: 44rem;
      }
    }
    .answer {
      font-size: 3rem;
      font-weight: 600;
      & i {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .Contact {
    width: 65%;
    & .info-container p {
      width: 80%;
    }
  }
}
